<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Reg_reception</servlet-name>
        <servlet-class>controller.Reg_reception</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_reception</servlet-name>
        <servlet-class>controller.Login_reception</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg_patient</servlet-name>
        <servlet-class>controller.Reg_patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_reception</servlet-name>
        <servlet-class>controller.Update_reception</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_reception</servlet-name>
        <servlet-class>controller.Logout_reception</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg_doctor</servlet-name>
        <servlet-class>controller.Reg_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_doctor</servlet-name>
        <servlet-class>controller.Update_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_doctor</servlet-name>
        <servlet-class>controller.Delete_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_patient</servlet-name>
        <servlet-class>controller.Delete_patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chanel_doctor</servlet-name>
        <servlet-class>controller.Chanel_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_appointments</servlet-name>
        <servlet-class>controller.Add_appointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_patient</servlet-name>
        <servlet-class>controller.Update_patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact_send</servlet-name>
        <servlet-class>controller.Contact_send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_doc_shedule</servlet-name>
        <servlet-class>controller.Add_doc_shedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_schedule</servlet-name>
        <servlet-class>controller.Delete_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_schedule</servlet-name>
        <servlet-class>controller.Update_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_shedule_status</servlet-name>
        <servlet-class>controller.Change_shedule_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_recep_pass</servlet-name>
        <servlet-class>controller.Update_recep_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_doctor</servlet-name>
        <servlet-class>controller.Logout_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_doctor</servlet-name>
        <servlet-class>controller.Login_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_update_doctor</servlet-name>
        <servlet-class>controller.Doc_update_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_doctor_pass</servlet-name>
        <servlet-class>controller.Update_doctor_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_ward</servlet-name>
        <servlet-class>controller.Add_ward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_ward</servlet-name>
        <servlet-class>controller.Update_ward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_ward</servlet-name>
        <servlet-class>controller.Delete_ward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_appointment_status</servlet-name>
        <servlet-class>controller.Change_appointment_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_appointment</servlet-name>
        <servlet-class>controller.Update_appointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pat_payment</servlet-name>
        <servlet-class>controller.Pat_payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_add_schedule</servlet-name>
        <servlet-class>controller.Doc_add_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_update_schedule</servlet-name>
        <servlet-class>controller.Doc_update_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doc_delete_schedule</servlet-name>
        <servlet-class>controller.Doc_delete_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_admin</servlet-name>
        <servlet-class>controller.Login_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_admin</servlet-name>
        <servlet-class>controller.Logout_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_admin</servlet-name>
        <servlet-class>controller.Update_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_delete_department</servlet-name>
        <servlet-class>controller.Admin_delete_department</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_delete_ward</servlet-name>
        <servlet-class>controller.Admin_delete_ward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_add_ward</servlet-name>
        <servlet-class>controller.Admin_add_ward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_add_department</servlet-name>
        <servlet-class>controller.Admin_add_department</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_update_recep</servlet-name>
        <servlet-class>controller.Admin_update_recep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_recep_delete</servlet-name>
        <servlet-class>controller.Admin_recep_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_add_recep</servlet-name>
        <servlet-class>controller.Admin_add_recep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_add_appointments</servlet-name>
        <servlet-class>controller.Admin_add_appointments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reg_reception</servlet-name>
        <url-pattern>/Reg_reception</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_reception</servlet-name>
        <url-pattern>/Login_reception</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_patient</servlet-name>
        <url-pattern>/Reg_patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_reception</servlet-name>
        <url-pattern>/Update_reception</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_reception</servlet-name>
        <url-pattern>/Logout_reception</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_doctor</servlet-name>
        <url-pattern>/Reg_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_doctor</servlet-name>
        <url-pattern>/Update_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_doctor</servlet-name>
        <url-pattern>/Delete_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_patient</servlet-name>
        <url-pattern>/Delete_patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chanel_doctor</servlet-name>
        <url-pattern>/Chanel_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_appointments</servlet-name>
        <url-pattern>/Add_appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_patient</servlet-name>
        <url-pattern>/Update_patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact_send</servlet-name>
        <url-pattern>/Contact_send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_doc_shedule</servlet-name>
        <url-pattern>/Add_doc_shedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_schedule</servlet-name>
        <url-pattern>/Delete_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_schedule</servlet-name>
        <url-pattern>/Update_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_shedule_status</servlet-name>
        <url-pattern>/Change_shedule_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_recep_pass</servlet-name>
        <url-pattern>/Update_recep_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_doctor</servlet-name>
        <url-pattern>/Logout_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_doctor</servlet-name>
        <url-pattern>/Login_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_update_doctor</servlet-name>
        <url-pattern>/Doc_update_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_doctor_pass</servlet-name>
        <url-pattern>/Update_doctor_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_ward</servlet-name>
        <url-pattern>/Add_ward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_ward</servlet-name>
        <url-pattern>/Update_ward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_ward</servlet-name>
        <url-pattern>/Delete_ward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_appointment_status</servlet-name>
        <url-pattern>/Change_appointment_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_appointment</servlet-name>
        <url-pattern>/Update_appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pat_payment</servlet-name>
        <url-pattern>/Pat_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_add_schedule</servlet-name>
        <url-pattern>/Doc_add_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_update_schedule</servlet-name>
        <url-pattern>/Doc_update_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doc_delete_schedule</servlet-name>
        <url-pattern>/Doc_delete_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_admin</servlet-name>
        <url-pattern>/Login_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_admin</servlet-name>
        <url-pattern>/Logout_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_admin</servlet-name>
        <url-pattern>/Update_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_delete_department</servlet-name>
        <url-pattern>/Admin_delete_department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_delete_ward</servlet-name>
        <url-pattern>/Admin_delete_ward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_add_ward</servlet-name>
        <url-pattern>/Admin_add_ward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_add_department</servlet-name>
        <url-pattern>/Admin_add_department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_update_recep</servlet-name>
        <url-pattern>/Admin_update_recep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_recep_delete</servlet-name>
        <url-pattern>/Admin_recep_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_add_recep</servlet-name>
        <url-pattern>/Admin_add_recep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_add_appointments</servlet-name>
        <url-pattern>/Admin_add_appointments</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
